.orb_canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.overlay {
    width: 100%;
    max-width: 1140px;
    max-height: 640px;
    padding: 4rem 2rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }


.posters{
    display: flex;
    /* justify-content: space-around; */
}

.personal{
    border-radius: 20px;
    border: solid black;
    padding: 25px 10px;
    transition: transform 1s;
}

.personal:hover{
    transform: scale(1.05);
}

.socials{
    align-items: center;
}

.image{
    object-fit: contain;
    width: 200px;
}

.logo{
    object-fit: contain;
    width: 28px;
    padding: 15px 18px;
}


  