<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>The Corporate Joker</title>
        <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}">
        <!-- <link rel="icon" href="./public/" type="image/x-icon"> -->
  </head>
  <body>
    <canvas class="orb_canvas"></canvas>
    <div class="overlay">
      <div class="overlay_inner">
        <h3 class="overlay_title">About this project</h3>
        <p class="desc">This online application called <strong>Corporate Joker</strong> was trained using a tonne of data from various humour sites and is based on nlp. Aside from determining if the input is funny or not, this programme will respond to you with jokes based on the situations you provide. Corporate Joker was developed using the pre-trained GPT 2 model for the aim of generating jokes. It has the ability to both offer random jokes and jokes based on specific input jokes. This web application can generate a whole new joke using NLP by selecting the best joke from the vast datasets related to a specific input. The generated joke is then shown on the screen with precision humour detection capabilities.</p>
      </div>
    </div>
  </body>
</html>