<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>The Corporate Joker</title>
        <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}">
        <!-- <link rel="icon" href="./public/" type="image/x-icon"> -->
  </head>

  <body>
    <canvas class="orb_canvas"></canvas>
        <div class="main overlay">
          <h2 class="overlay_title">About The Team !!</h2>
          <p class="desc">This is description</p>
          <div class="posters">

            <div class="personal">
                <img class="image" src="https://avatars.githubusercontent.com/u/63497082?v=4" alt="Profile Image">
                <p><strong>Shivansh Srivastava</strong></p>
                <div class="socials">
                    <a href="https://github.com/shiv0112"><img class="logo" src="{{ url_for('static', filename='img/github.png') }}" alt="gitub-logo"></a>
                    <a href="https://www.linkedin.com/in/srivastava-shivansh/"><img class="logo" src="{{ url_for('static', filename='img/linkedin.png') }}" alt="linked-logo"></a>
                    <a href="https://srivastavashiv0112.medium.com/"><img class="logo" src="{{ url_for('static', filename='img/medium.png') }}" alt="medium-logo"></a>
                </div>    
            </div>

            <div class="personal">
                  <img class="image" src="https://avatars.githubusercontent.com/u/74089340?v=4" alt="Profile Image">
                  <p class="name" ><strong>Rishabh</strong></p>
                <div class="socials">
                  <a href="https://github.com/Rishbah-76"><img   class="logo" src="{{ url_for('static', filename='img/github.png') }}" alt="gitub-logo"></a>
                  <a href="https://www.linkedin.com/in/rishabh-465a85185/"><img  class="logo"  src="{{ url_for('static', filename='img/linkedin.png') }}" alt="linked-logo"></a>
                  <a href="https://rbrishabh76.medium.com/"><img class="logo" src="{{ url_for('static', filename='img/medium.png') }} alt="medium-logo"></a>
              </div>
            </div>

            <div class="personal">
                  <img class="image" src="https://media-exp1.licdn.com/dms/image/C5603AQGh3qRHibDyKQ/profile-displayphoto-shrink_800_800/0/1612793663586?e=1668038400&v=beta&t=XgvFjfwbkMRU36Rtyl0dJeMi8uJ9FzJjXwPI7_ZQqjk" alt="Profile Image">
                  <p class="name"><strong>Shubhyansh Rai</strong></p>                
                  <div class="socials">
                 <a href="https://github.com/shubhyansh"><img class="logo"  src="{{ url_for('static', filename='img/github.png') }}" alt="gitub-logo"></a>
                 <a href="https://www.linkedin.com/in/shubhyansh-rai-749911136/"><img class="logo"  src="{{ url_for('static', filename='img/linkedin.png') }}" alt="linked-logo"></a>
                 <a href="https://shubhyanshrai.medium.com/"><img class="logo" src="{{ url_for('static', filename='img/medium.png') }}" alt="medium-logo"></a>
              </div>
            </div>
              
            <div class="personal">
                  <img class="image" src="https://media-exp1.licdn.com/dms/image/C4D03AQH7iQpKEl8mZw/profile-displayphoto-shrink_800_800/0/1647678826638?e=1667433600&v=beta&t=Qh4bMK6uGZzJuJ64mu1PGznlKE9UNjPv_QZvfdj3hsY" alt="Profile Image">
                  <p class="name"><strong>Ashish Diwakar</strong></p>                
                  <div class="socials">
                 <a href="https://github.com/Ashish-source23"><img  class="logo" src="{{ url_for('static', filename='img/github.png') }}" alt="gitub-logo"></a>
                 <a href="https://www.linkedin.com/in/ashish-diwakar/"><img class="logo"  src="{{ url_for('static', filename='img/linkedin.png') }}" alt="linked-logo"></a>
                 <!-- <a href=""><img class="logo" src="" alt="medium-logo"></a> -->
                </div>
            </div>
         </div>
        </div>
  </body>

  </html>